{% extends 'base.html' %}

{% block content %}

{% load static %}

<body style="zoom: 1;">
<div class="col-lg-8 mx-auto p-5 py-md-4">
<main>
</br>
<div class="row">
<div class="fs-5 col-md-8">
    <h1 style="text-align:center">About Me</h1>
    <p>My name is Frank and I'm an IT professional and Information Security student based in Chicago. My background is in information systems and data analytics and I've worked in a variety of roles from Data Analyst to Product Manager. I'm currently pursuing a masters degree in Cyber/Information Security from Capitol Technology University. In my free time I enjoy playing with my dog Vino, watching the Chicago Bulls, and training for various road races. I'm currently planning to run the Chicago marathon later this year.</p>
    <img src="/media/images/Chicago.png" alt="Chitown" width="650" height="400">
    
  </div>
  <div class="col-md-4"> 
    <img src="/media/images/headshot.png" alt="A Lad" width="300" height="300" style="padding: 0px 0px 10px 0px">
    <img src="{% static 'IMG_2350.jpeg' %}" alt="A Lad" width="300" height="400" style="padding: 10px 0px 0px 0px">
    <p>Vino basking in the sun</p>
   </div>
</div>
  <h2 style="text-align:center">Contact me - <a href="mailto: cardyf123@gmail.com">cardyf123@gmail.com</a></h2>
  
</main>
</div>
</body>

  {% endblock %}