{% extends 'base.html' %}

{% block content %}

{% load static %}



</br>
<div class="container">
    <h1>About Me</h1>
    <p>My name is Frank Cardy and I'm an information security professional from Chicago. I've worked in a variety of roles from Data Analyst to Product Manager and currently work at a Payments/restaurant technology company called SpotOn.</p>
    <p>I have a dog named Vino. He is a lad</p>
    <img src="{% static 'IMG_2350.jpeg' %}" alt="A Lad" width="300" height="400">
  </div>
  
  <h2 style="text-align:center">Contact me</h2>
  <h2 style="text-align:center">Resume</h2>
  

  {% endblock %}